.home-header {
  .banner {
    .banner-content {
      flex-direction: row;
      flex-wrap: wrap;

      justify-content: space-around;
      align-items: center;
    }

    .banner-content-col {
      display: flex;
      flex: 1 1 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .simbs-crest {
    max-width: 400px;
  }
}
