.blog-posts {
  .post-card {
    margin-bottom: 1rem;
    a {
      color: $body-font-color;
      text-decoration: none;
    }

    img {
      width: 100%;
    }

    p {
      margin: 0px;
    }

    .categories {
      margin: 0.5rem 0;
    }
  }
}
