.categories {
  margin: 0.5rem 0rem 2rem;
  display: flex;
  gap: 0.5rem;

  .category {
    border: 1px solid lightgray;
    background: white;
    padding: 0 0.5rem;
    cursor: inherit;
    @include rounded(26px);
  }

  .toggleable {
    cursor: pointer;

    transition: box-shadow 150ms ease-in;
    @include box-shadow(0px 2px 5px lightgray);

    &:hover {
      @include box-shadow(0px 5px 10px lightgray);
    }

    &:active {
      @include box-shadow(0px 1px 3px lightgray);
    }
  }

  .selected {
    background-color: lightskyblue;
    border-color: lightskyblue;
  }
}
