.cta {
  .cta-button {
    display: block;
    width: fit-content;
    margin: 2rem auto;
    padding: 0.5rem 3rem;

    background-color: $primary-color;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;

    @include rounded();
  }
}
