.info-panel-wrapper {
  background-color: $color-contrary;
  color: $color-text-inverted;
  padding: 2rem 1rem 0;
}

.info-panel {
  display: flex;
  flex-direction: column;

  .info-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-bottom: 2rem;

    &.opposite {
      flex-direction: row-reverse;
    }

    & > * {
      margin: 0.25rem 1rem;
    }

    & > img {
      @include rounded();
      max-width: 30rem;
      max-height: 10rem;
    }

    & > .info-content {
      flex: 1 0 0;
      min-width: 18rem;

      @include for-phone-only {
        min-width: 10rem;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0.5rem;
    }

    p {
      margin: 0rem;
    }
  }

  .image-placeholder {
    background-color: $color-contrary;
  }
}
