.media {
  width: 100%;

  .media-title {
    font-size: 22px;
    font-weight: 600;
    font-weight: 600;
  }

  .media-caption {
    font-size: 18px;
    color: grey;
    font-weight: 600;
  }

  .media-embed-wrapper {
    max-width: 100vw;
    overflow-x: scroll;
    margin: 0 -1rem;
    padding: 1rem;
  }

  a {
    color: $body-font-color;
  }
}
