.pull-quote {
  blockquote {
    margin-bottom: 2rem;
    display: inline-block;
    font-style: italic;
    font-size: 24px;
    color: $color-text-secondary;
    text-align: center;

    @include for-tablet-landscape-up {
      width: 100%;
      margin: 0 0 2rem;
      font-size: 30px;
      padding: 0;
    }

    &:before {
      content: "« ";
    }

    &:after {
      content: " »";
    }
  }
}
