.team {
  .team-member {
    display: flex;
    align-items: flex-start;

    margin: 0rem 1rem 2rem 0rem;
    padding: 1.5rem;

    @include shadow-raised-0();
    background-color: $color-background-lightest;
    @include rounded();

    @include for-phone-only {
      flex-direction: column;
    }

    .team-member-portrait {
      display: block;
      flex: 0.25 1 200px;
      max-width: 250px;
      margin: 0 2rem 0 0; // right-side margin for desktop

      @include shadow-frame();
      @include rounded(150px);

      @include for-phone-only {
        width: 200px;
        margin: 0 auto 1rem; // bottom margin & center for mobile
      }
    }

    .team-member-summary {
      flex: 1 0.25 250px;

      margin: 0rem auto 1em;

      @include for-phone-only {
        flex-basis: 0;
        width: 100%;
        padding: 0 5%;
      }
    }

    .team-member-head {
      margin-bottom: 1rem;

      @include for-phone-only {
        * {
          text-align: center;
        }
      }
    }

    .team-member-email {
      display: block;
    }

    h3,
    h4 {
      margin-bottom: 0;
    }

    h2 {
      margin-bottom: 0.5em;
    }

    p:not(:last-child) {
      margin-bottom: 0.5em;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
