img {
  display: block;
  margin: auto;
}

.btn-clr.btn-clr {
  background: transparent;
  border: 0.15em solid $color-text-inverted;
  color: $color-text-inverted;
  font-weight: 600;
  height: auto;

  &:hover {
    color: $color-primary;
    border-color: $color-primary;
  }
}

.label {
  padding: 0.2rem 0.5rem;
}

.card {
  border: unset;
}

blockquote {
  border: unset;
}
