$color-background: #f0f2f4;
$color-background-darker: scale-color($color-background, $lightness: -10%);
$color-background-lighter: scale-color($color-background, $lightness: +10%);
$color-background-gradient: linear-gradient(
  145deg,
  $color-background-darker,
  $color-background-lighter
);
$color-background-darkest: scale-color($color-background, $lightness: -20%);
$color-background-lightest: scale-color($color-background, $lightness: +20%);

$color-text-primary: #333;
$color-text-secondary: #808080;
$color-text-inverted: #fff;

$color-primary: #60bd60;
