* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #fff7c7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fff7c7; /* Gecko Browsers */
}

body {
  color: #353535;
  background-color: $color-background;
  line-height: 1.5;
  font-family: $font-serif;
  font-size: 16px;
}

main {
  flex-grow: 1;
  margin-bottom: 2rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.reading-block {
  max-width: 700px;
  margin: auto;
}
