footer {
  flex: 0 0;
  color: #9a9a9a;
  text-align: center;

  background-color: $color-background-darker;

  p {
    padding: 2rem 0;
    margin-bottom: 0 !important;
  }

  a {
    font-weight: bold;
  }
}
