footer {
  flex: 0 0;
  color: #9a9a9a;
  font-style: italic;
  text-align: center;

  background-color: $gray-color-light;

  p {
    padding: 2rem 0;
    margin-bottom: 0;
  }

  a {
    font-weight: bold;
  }

  .footer-logo {
    width: 30px;
    margin-top: 10px;
  }
}
