footer {
    flex: 0 0;
    color: #9a9a9a;
    text-align: center;
    background-color: $color-background-darker;
    p {
        margin-bottom: 0 !important;
    }
    a {
        font-weight: bold;
    }
    .sponsors-row-title {
        margin: 0;
    }
    .container {
        padding: 1rem;
    }
    .sponsors-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 0 1rem;
    }
    .sponsor {
        max-height: 5rem;
        max-width: 8rem;
        margin: 0.5rem;
    }
    .socials-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 1rem;
        list-style-type: none;
    }
    .social-item {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 1rem 0;
    }
}