footer {
  flex: 0 0;
  color: #9a9a9a;
  font-family: $font-sans-serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;

  border-top: 1px solid whitesmoke;
  @include shadow-pressed-0();

  p {
    padding: 2rem 0;
    margin-bottom: 0;
  }

  a {
    font-weight: bold;
  }

  .footer-logo {
    width: 30px;
    margin-top: 10px;
  }
}
