header {
  $navbar-height: 3rem;

  .navbar-placeholder {
    height: $navbar-height;
  }

  // Override spacing of mobile menu toggle button
  .navbar-section.off-canvas {
    width: 34px;
  }

  // Set navbar defaults & positioning (override)
  .navbar {
    flex-wrap: nowrap;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    height: $navbar-height;
    padding: 0rem 1rem;

    transition: all 0.2s ease-in-out;
    background-color: change-color($color: $color-background, $alpha: 1);
    border-bottom: 1px solid
      change-color($color: $color-background-darkest, $alpha: 1);

    &.clear-nav {
      background-color: change-color($color: $color-background, $alpha: 0);
      border-bottom: 1px solid
        change-color($color: $color-background-darkest, $alpha: 0);
      .nav-item {
        color: $color-text-inverted;
      }
    }

    &:not(.clear-nav) .btn-clr {
      color: $color-text-primary;
      border-color: $color-text-primary;

      &:hover {
        color: $color-primary;
        border-color: $color-primary;
      }
    }

    // Shared Nav Item properties
    .nav-item {
      color: $color-text-primary;
      font-weight: 800;

      &:hover,
      &:focus,
      .selected {
        color: $color-primary;
      }
    }

    // Mobile Nav Drawer Items
    li.nav-item {
      margin: unset;
      padding: unset;

      a {
        display: inline-block;
        padding: 0.5rem 1rem;
        width: 100%;
      }
    }

    // Nav Header Items
    a.nav-item {
      padding: 0.5rem 0.75rem;
    }

    .logo {
      height: 2rem;
    }
    .mobile-logo {
      display: inline-block;
      height: 2rem;
    }

    .off-canvas-toggle {
      top: 0.6rem;
      left: 0;
    }
  }

  .btn {
    // Fix text alignment (buttons too tall)
    height: unset;

    // Fix Join Button
    &.btn-primary {
      padding: 0.2rem 0.8rem;
    }

    :active {
      outline: unset;
    }
  }
}
