nav {
  display: flex;
  flex-grow: 0;
  flex: 0 0 50px;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;

  height: 60px;
  margin-bottom: 1rem;
  padding: 0 1rem;

  font-family: $font-sans-serif;

  @include shadow-raised-3();

  img {
    height: 40px;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    align-content: center;

    .nav-item {
      margin: 0rem 0.75rem;

      transition: color 150ms ease-in-out;
      &:hover {
        color: $color-primary;
      }
    }
  }
}
