.post {
  .post-header {
    padding: 1rem 0;

    a {
      color: $color-text-secondary;
    }

    .back {
      @extend .container;
      padding: 0;
      margin-bottom: 2em;
      color: $color-text-secondary;
      font-size: $font-size;

      &:before {
        content: "←";
        display: inline-block;
        position: relative;
        margin-right: 8px;
      }
    }

    .post-meta {
      font-size: 1rem;
      color: $gray-color-dark;
      margin-bottom: 1rem;

      .categories {
        margin: 0.5rem 0;
      }
    }
  }

  .container {
    max-width: 900px;
  }
}

.post-banner {
  display: block;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}
