.post {
  .post-header {
    padding: 1rem 0;

    .back {
      color: $color-text-secondary;
      display: block;
      max-width: 700px;
      margin: 0 auto 2em auto;
      font-size: $font-size;

      &:before {
        content: "←";
        display: inline-block;
        position: relative;
        margin-right: 8px;
      }

      a {
        color: $color-text-secondary;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .post-meta {
      font-size: 1rem;
      color: $gray-color-dark;
      margin-bottom: 1rem;

      .categories {
        margin: 0.5rem 0;
      }
    }
  }
}

.post-banner {
  display: block;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
